{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}{{user.firstname}}'s Profile{% endblock %}

{% block fos_user_content %}
	<div class="container-fluid">
		<div class="container">
			<section class="col-xs-12 col-sm-3">
				<div class="col-xs-12 col-sm-12 nopad">
                    <div class="square-wrapper-img-circle"
                        style="background-image: url('{{user.picture}}')">
                    </div>
                    {% if not app.user or user.id != app.user.id %}
                        <a href="{{ path('imd_app_messages_conversation',{'partnerId': user.id})}}" class="button-dot">
                            <span class="glyphicon glyphicon-comment"></span>
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_profile_edit') }}" class="button-dot">
                            <span class="glyphicon glyphicon-wrench"></span>
                        </a>
                    {% endif %}
                </div>
                <div class="col-xs-12 col-sm-12 nopad">
                    <h2 class="text-center">{{user.firstname}} {{user.lastname}}</h2>
                    {% if user.hasRole('ROLE_IMD') %}
                        <span class="text-center">
                            {% set rating = user.rating %}
                            {% include "rating.html.twig" %}
                        </span>
                    {% endif %}
                    {% if user.bio is not empty %}
                        <p class="profile-user-bio">
                            {{ user.bio }}
                        </p>
                    {% endif %}
                    <ul class="list-group">
                    {% if user.specialization is not empty %}
                        <li class="list-group-item">
                        {% if user.specialization == "development" %}
                            Developer
                        {% else %}
                            Designer
                        {% endif %}
                        </li>
                    {% endif %}
                    {% if user.imdYear is not empty %}
                        <li class="list-group-item">
                            {{ user.getImdYear('full-text') }}
                        </li>
                    {% endif %}
                    {% if user.email is not empty %}
                        <li class="list-group-item">
                            {{ user.email }}
                        </li>
                    {% endif %}
                    </ul>
                    {% if user.website is not empty %}
                        <div class="text-center">
                            <a href="http://{{user.website}}" target="_blank">{{user.website}}</a>
                        </div>
                        
                    {% endif %}
                </div>
			</section>
			<section class="col-xs-12 col-sm-9">
                {% if user.hasRole('ROLE_IMD') %}
                    <h2 class="txt-col-1 text-center">Ervaring</h2>
                {% endif %}
                {% for booking in user.guideBookings %}
                    <section class="clearfix profile-booking-row">
                        <div class="col-xs-12 col-sm-9 nopad">
                            {{dump(booking)}}
                            <h3>{{ booking.place }}</h3>
                            {% if booking.rating is not empty %}
                                {% set rating = booking.rating %}
                                {% include "rating.html.twig" %}
                            {% else %}
                                <p class="text-warning">unrated</p>
                            {% endif %}
                            {% if booking.feedback is not empty %}
                                <p>
                                    {{ booking.feedback }}
                                </p>
                            {% endif %}
                            <span class="text-muted">
                                {{ booking.meetTime|date('d/m/Y') }}
                            </span>
                        </div>
                        <div class="pull-right text-center profile-booking-guest">
                            <div class="square-wrapper-img-circle-thumb" style="background-image:url('{{booking.guest.picture}}')"></div>
                            <p>{{booking.guest.firstname}}</p>
                        </div>
                    </section>
                {% endfor %}
                {% if user.guideBookings is empty %}
                    <section class="text-center">
                        {% if user.hasRole('ROLE_IMD') %}
                            <h3 class="text-muted">Deze gids heeft nog geen rondleidingen geleid.</h3>
                        {% else %}
                            <h3 class="text-muted">Boek een gids en kom langs op één van onze talrijke evenementen.</h3>
                        {% endif %}
                        <a href="{{path('imd_app_guide_booking_date')}}" class="margin-abit-t button-filled">
                            Hero Selectie
                        </a>
                    </section>
                {% endif %}
			</section>
		</div>
	</div>
{% endblock fos_user_content %}

{#

<h1>Wie is {{user.firstname}}?</h3>
                <p>{{user.bio}}</p>

                <h3 class="profile-city-row">
                    <span class="glyphicon txt-col-lightgray gi-h3 glyphicon-tower"></span>
                    <span>{{user.getImdYear('text')}} jaar</span>
                </h3>

                <h3 class="profile-city-row">
                    <span class="glyphicon txt-col-lightgray gi-h3 glyphicon-gift"></span>
                    <span>{{user.dateOfBirth|date('d/m/Y')}}</span>
                </h3>

                <h3 class="profile-city-row">
                    <span class="glyphicon txt-col-lightgray gi-h3 glyphicon-globe"></span>
                    <span>{{user.city}}</span>
                </h3>

                <h3 class="profile-city-row">
                    <span class="glyphicon txt-col-lightgray gi-h3 glyphicon-envelope"></span>
                    <span>{{user.username}}</span>
                </h3>

                <h3 class="profile-website-row">
                    <span class="glyphicon txt-col-lightgray gi-h3 glyphicon-link"></span>
                    <span><a class="txt-col-5" href="{{user.website}}">{{user.website}}</a></span>
                </h3>

#}
