.button{
    display: inline-block;
    padding: 1em 1em;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
    transition: background-color $anim, color $anim;
    @include respond-to('very-small'){
        padding: 1em 2em;
    }
    &-filled{
        @extend .button;
        background-color: $color1;
        color: white;
        border-radius: 0.35em;
        border: 2px solid $color1;
        &:hover{
            background-color: white;
            color: $color1;
        }
    }
    &-stroke{
        @extend .button;
        background-color: transparent;
        color: white;
        border-radius: 0.35em;
        border: 2px solid white;
        &:hover{
            background-color: white;
            color: $color1;
        }
    }
    &-dot{
        @extend .button;
        width: 3em;
        height: 3em;
        line-height: 1em;
        padding: 1em;
        position: absolute;
        bottom: 7%;
        right: 7%;
        color: white;
        text-align: center;
        background-color: $color1;
        border-radius: 50%;
        &:hover{
            background-color: white;
            color: $color1;
        }
        @include respond-to('medium'){
            font-size: 22px;
            bottom: 4%;
            right: 4%;
        }
    }
}