.card{
    background-color: white;
    display: block;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
    margin-top: 36px;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    &-image{
        @include aspect-ratio(1,1); 
        display:block;
        width: 33%;
        max-width: 250px;
        float: left;
    }
    .card-description{
        display: block;
        float: left;
        width: 67%;
        padding: 0px 15px;
    }
}
.card-container{
    &:last-of-type{
        .card{
            margin-bottom: 36px;
        }
    }
    @include respond-to('medium'){
        &:nth-child(2){
            .card{
                margin-top: 72px;
            }
            + .card-container{
                .card{
                    margin-top: 0px;
                }
            }
        }
    }
}

.number-masked{
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  color: $color1;
  margin: 0px;
  font-size: 96px;
  opacity: 0.5;
  line-height: 1;
}