$break-very-small:          320px!default; // 320 @ 16px
$break-small:               480px!default; // 480 @ 16px
$break-small-medium:        640px!default; // 640 @ 16px
$break-medium:              768px!default; // 800 @ 16px
$break-medium-large:        990px!default; // 960 @ 16px
$break-large:               1120px!default; // 1120 @ 16px
$break-very-large:          1280px!default; // 1280 @ 16px

$break-mobile:              0!default; /* No media query since this is the default */
$break-tablet:              $break-small-medium!default; //  640 @ 16px
$break-desktop:             $break-medium-large!default; // 960 @ 16px

@mixin respond-to( $condition ) {
  // sizes
  @if $condition == 'initialize' { @media only screen and ( min-width: 1px ){ @content; } }
  @if $condition == 'very-small' { @media only screen and ( min-width: $break-very-small ) { @content; } }
  @if $condition == 'small' { @media only screen and ( min-width: $break-small ) { @content; } }
  @if $condition == 'small-medium' { @media only screen and ( min-width: $break-small-medium ) { @content; } }
  @if $condition == 'small-portrait' { @media only screen and ( min-width: $break-very-small) and ( max-width: $break-small-medium ) and (orientation : portrait) { @content; } }
  @if $condition == 'medium' { @media only screen and ( min-width: $break-medium ) { @content; } }
  @if $condition == 'medium-large' { @media only screen and ( min-width: $break-medium-large ) { @content; } }
  @if $condition == 'large' { @media only screen and ( min-width: $break-large ) { @content; } }
  @if $condition == 'very-large' or  $condition ==  'very-large-only' { @media only screen and ( min-width: $break-very-large ) { @content; } }

  // only-sizes
  @if $condition ==   'very-small-only' { @media only screen and ( min-width: $break-very-small ) and ( max-width: $break-small ) { @content; } }
  @if $condition ==   'small-only' { @media only screen and ( min-width: $break-small ) and ( max-width: $break-small-medium )  { @content; } }
  @if $condition ==   'small-medium-only' { @media only screen and ( min-width: $break-small-medium ) and ( max-width: $break-medium )  { @content; } }
  @if $condition ==   'medium-only' { @media only screen and ( min-width: $break-medium ) and ( max-width: $break-medium-large )  { @content; } }
  @if $condition ==   'medium-large-only' { @media only screen and ( min-width: $break-medium-large ) and ( max-width: $break-large )  { @content; } }
  @if $condition ==   'large-only' { @media only screen and ( min-width: $break-large ) and ( max-width: $break-very-large )  { @content; } }

  // shortcut sizes
  @if $condition ==   'smallest-mobile' { @media only screen and ( min-width: 0 ) and ( max-width: $break-small ) { @content; } }
  @if $condition == 'mobile' { @media only screen and ( min-width: $break-mobile ) { @content; } }
  @if $condition == 'tablet' { @media only screen and ( min-width: $break-tablet ) { @content; } }
  @if $condition == 'desktop' or $condition == 'desktop-only' { @media only screen and ( min-width: $break-desktop ) { @content; } }

  // only-shortcut sizes
  @if $condition == 'mobile-only' { @media only screen and ( min-width: $break-mobile ) and ( max-width: $break-tablet ) { @content; } }
  @if $condition == 'tablet-only' { @media only screen and ( min-width: $break-tablet ) and ( max-width: $break-desktop ) { @content; } }
}

// Centralizers
@mixin centerXY(){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centerX(){
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin centerY(){
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// Aspect Ratio
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}