.navbar{
  background-color: transparent;
  border-bottom: 0px solid transparent;
  li{
    > a{
      color: white;
      &:hover{  
        background-color: transparent;
      }
      &:focus{
        background-color: transparent !important;
      }
    }
  }
  .navbar-brand{
    color: white;
  }
  .navbar-collapse{
    border: 0px solid transparent;
    box-shadow: 0px 0px 0px transparent;
  }
  .navbar-toggle{
    margin-right: 0px;
    .icon-bar{
      background-color: whitesmoke;
    }
  }
  button[data-toggle="collapse"]{
    transition: border-color $anim;
    border-color: transparent;
    &:focus{
      background-color: transparent;
    }
    &:hover{
      background-color: transparent;
    }
  }
}

.opaque{
  background-color: $color1;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}

.nav .open a{
  background-color: transparent;
}

.dropdown-menu{
  margin-top: 2px !important;
  border-radius: 4px !important;
  li a{
    color: $black !important;
  }
}