.profile-user-bio{
    padding: 15px;
}

.profile-booking-row{
    position: relative;
    border-bottom: 1px solid $palegray;
    padding: 20px 0px;
    &:last-child{
        border-color: transparent;
    }
    h3{
        margin-top: 0px;
    }
    @include respond-to('medium'){
        margin: 0px 15px;
    }
}

.profile-booking-guest{
    @include centerY();
    right: 0;
    display: none;
    @include respond-to('medium'){
        display: block;
    }
}