#sharedSlantStyles{
    content:"";
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.slant{
    &-asc{
        &-red{
            position: relative;
            &:after{
                @extend #sharedSlantStyles;
                right: 0;
                bottom: 0;
                border-bottom: 10vh solid $color1;
                border-left: 100vw solid transparent;
            }
        }
        &-white{
            position: relative;
            &:after{
                @extend #sharedSlantStyles;
                right: 0;
                bottom: 0;
                border-bottom: 10vh solid white;
                border-left: 100vw solid transparent;
            }
        }
    }
    &-desc{
       &-red{
            position: relative;
            &:before{
                @extend #sharedSlantStyles;
                right: 0;
                top: 0;
                border-top: 10vh solid $color1;
                border-right: 100vw solid transparent;
            }
        }
        &-white{
            position: relative;
            &:before{
                @extend #sharedSlantStyles;
                right: 0;
                top: 0;
                border-top: 10vh solid white;
                border-right: 100vw solid transparent;
            }
        } 
    }
}