$color1: #E73B35; // primary red
$color2: #E73B35; // pale blue
$color3: #4F6FB2; // desaturated blue
$color5: whitesmoke; // contrast orange
$black:  rgba(0,0,0,0.84);
$gray: rgba(0,0,0,0.54);
$lightgray: rgba(0,0,0,0.26);
$palegray: rgba(0,0,0,0.08);
$dark: #222;
$anim: ease-in-out 0.2s;

@import '_mixins.scss';
@import '../lib/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
@import '_login.scss';
@import '_user-list.scss';
@import '_guideList.scss';
@import '_admin-manage.scss';
@import '_message.scss';
@import '_sticky-footer.scss';
@import '_notification.scss';
@import '_logo.scss';
@import '_nav.scss';
@import '_buttons.scss';
@import '_slants.scss';
@import '_card.scss';
@import '_typography.scss';
@import '_profile.scss';
 
*{
  box-sizing:border-box;
}

a{
	text-decoration:none;
	&:hover{
		text-decoration: none;
	}
	&:focus{
		outline: 0;
	}
}

body {
  padding: 50px 0 0 0;
}

.container {
  &.padding {
    padding: 25px 0;
  }
}

.square-wrapper{
  @include aspect-ratio(1,1);
  &-img{
    @extend .square-wrapper;
    background-size: cover;
    background-position: center;
    padding: 0px;
    &-circle{
      @extend .square-wrapper-img;
      border-radius: 50%;
      &-thumb{
        @extend .square-wrapper-img-circle;
        width: 65px;
        max-width: 100%;
      }
    }
  }
}

.nopad{
  padding: 0px;
}

.list-group-item{
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-white{
  color: white !important;
}

.brand{
  letter-spacing: 3px;
  font-weight: 200;
  color: $color1;
}

.jumbotron{
	background: url('../images/jumbotron2.png');
	background-size: cover;
	background-position: center;
	height: 100vh;
    text-align: center;
    position: relative;

  &-spacing{
    margin: -50px 0 0; //-50 voor navbar
  }

  .jumbotron-title{
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0.06em 0.06em 0px rgba(0,0,0,0.35);
    @media only screen and (min-width: 360px){
        font-size: 64px;
    }
    @include respond-to('medium'){
        font-size: 96px;
    }
    @include respond-to('large'){
        font-size: 128px;
    }
    strong{
        display: block;
        color: $color1;
        font-size: 135%;
    }
    small{
        font-size: 16px;
        line-height: 1.3;
        color: rgba(255,255,255,0.9);
        text-transform: none;
        text-shadow: none;
        display: block;
        @include respond-to('medium'){
            line-height: 1.5;
            font-size: 18px;
        }
        .more{
            display: none;
            @include respond-to('medium'){
                display: inline;
            }
            @include respond-to('large'){
                display: block;
            }
        }
    }
  }

  .container {
    @include centerXY();
    width: 85%;
  }
}

.border-col{
  &-gold{
    border-color: $color5;
  }
  &-grey{
    border-color: $lightgray;
  }
}

.bg{
  &-wood{
    background-image: url('../images/bg-wood.png');
    background-size: cover;
    background-position: center;
  }
}

.bg-col{
	border:none;
	&-1{
		@extend .bg-col;
		background-color: $color1;
    color:white;
	}
	&-2{
		@extend .bg-col;
		background-color: $color2;
        color:white;
	}
	&-5{
		@extend .bg-col;
		background-color: $color5;
	}
	&-none{
		@extend .bg-col;
		background: transparent;
	}
}

.txt-col{
	&-1{
		color: $color1;
	}
	&-2{
		color: $color2;
	}
	&-5{
		color: $color5;
	}
	&-lightgray{
		color: $lightgray;
	}
	&-black{
		color: $black;
	}
	&-gray{
		color: $gray;
	}
}

.call-secondary{
	width: 150px;
	max-width:100%;
	white-space: nowrap;
	padding-bottom: 2px;
	opacity: 0.18;
	border-bottom: 1px solid white;

	/* CSS Transition */
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	
	&:hover,:focus{
		outline: 0;
		opacity: 1;
		border-bottom: 1px solid $color5;
	}
}

.para{
	&-action{
		line-height: 2.8ex;
		max-width: 450px;
	}
}

.txt-force{
  &-36{
    font-size: 36px;
    line-height: 36px;
  }
}
.action-container{
  width: auto;
  max-width: 200px;
  &-override{
    width: auto;
    max-width: 250px;
  }
}

.btn-action{
	margin: 25px auto 0px auto;
}

.users-btn-vcenter{
  margin-top: 40px;
}

.btn-ghost {
	background: transparent;
	color: #F2F2F2;
	box-sizing: border-box;
	border-color: white;
	max-width:100% !important;

	/* CSS Transition */
	-webkit-transition: border .2s ease-in-out;
	-moz-transition: border .2s ease-in-out;
	-ms-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;

	&:hover, &:focus {
		background: transparent;
		color: white;
		border-color: $color5;
	}
}

.btn-spectre{
  background: transparent;
  color: $gray;
  box-sizing: border-box;
  border-color: $lightgray;

  /* CSS Transition */
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  &:hover, &:focus {
    background: transparent;
    color: $black;
    border-color: $color5;
  }
}

.container-fluid{
  padding: 70px 0px;
}

.row-title{
  margin: 0px 0 25px 0;
  padding-left: 15px;
  & small{
    color: $black;
  }
}

.text-muted{
  margin-bottom: 0px;
}

.title{
  &-lg{
    font-size: 48px;
    line-height: 1.1;
    font-family: "Montserrat";
    text-transform: uppercase;
    @include respond-to('medium'){
      font-size: 96px;
    }
    small{
      display: block;
      font-family: "Helvetica Neue",Helvetica;
      font-size: 18px;
      text-transform: none;
      color: inherit;
    }
  }
}
 
// style used to adjust profile images into a consistent width, regardless of resolution
.user-image{
	max-width: 80%;
	&-large{
		@extend .user-image;
		width: 360px;
	}
	&-medium{
		@extend .user-image;
		width: 240px;
	}
	&-small{
		@extend .user-image;
		width:120px;
		min-width:120px;
	}
}

// user page styling

.media-left{
  padding-right: 25px;
}

// CSS used to centralize icons & their tags, very touchy feel no math
.gi{
	&-h1{
		top:5px;
	}
	&-h3{
		top:3px;
	}
	&-dashboard{
		font-size: 10ex;
		padding: 1ex 0;
	}
}
// css used to style url's
.url{
	&-dashboard{

		/* CSS Transition */
		-webkit-transition: color .2s ease-in-out;
		-moz-transition: color .2s ease-in-out;
		-ms-transition: color .2s ease-in-out;
		-o-transition: color .2s ease-in-out;
		transition: color .2s ease-in-out;

		&:hover{
			color: $color5;
		}
	}
}
// padders
.pad{
  &-l{
    &-5{
      padding-left: 5px;
    }
  }
}
// reset forcer, may change later
.container-activity{
  margin-top:-50px;
  padding-top:0;
  padding-bottom:25px;
}

// style for the ratings

.rating{
  display: block;
  color: gold;
}

//lots o margins, expand accordingly
.margin{
  &-alot{
    &-t{
      margin-top: 50px;
    }
    &-b{
      margin-bottom: 50px;
    }
  }
  &-abit{
    &-t{
      margin-top: 25px;
    }
    &-b{
      margin-bottom: 25px;
    }
  }
  &-alil{
    &-t{
      margin-top: 10px;
    }
    &-b{
      margin-bottom: 10px;
    }
    &-l{
      margin-left: 10px;
    }
  }
}

blockquote{
  border: none;
  font-size: 16px;
  p{
    margin-bottom: 0px;
  }
  .author{
    &:before{
      content:"- ";
    }
    display: block;
    font-size: 0.75em;
  }
}

// dirty dirty hackfixes
.forceLeft{
  float:left;
}

// styling related to fullcalendar, use important for overrides. load order glitch
.fc-day{
  cursor:pointer;
}
.fc-day-number{
  text-align: center !important;
  font-size: 24px;
}
.fc-event{
  border: none !important;
  width: 100%;
  border-radius: 0 !important;
  line-height: 2em !important;
  text-align: center;
  white-space: normal !important;
  cursor: pointer;
}

.fc-day-grid-event{
  margin: 0 !important;
  padding: 0 !important;
}

.fc-content-skeleton, .fc-content-skeleton table{
  height: 100%;
}

.fc-event-container{
  vertical-align:bottom !important;
}

.fc-content{
  box-sizing: border-box;
  text-overflow: ellipsis;
  padding: 0px 10px;
}
.fc-today{
  background-color: none;
}
.fc-state-highlight{
  background-color: #fbfbfb !important;
}

.eventDetails{
  max-height: 0;
  /* CSS Transition */
  -webkit-transition: height .2s ease-in-out;
  -moz-transition: height .2s ease-in-out;
  -ms-transition: height .2s ease-in-out;
  -o-transition: height .2s ease-in-out;
  transition: height .2s ease-in-out;
}

@include respond-to('medium'){
  //other crap
  .line{
    &-right{
      &:before{
        content:"";
        display: block;
        position: absolute;
        z-index: 5;
        width: 100%;
        right: -50%;
        top: 0px;
        height: 2px;
        background-color: $lightgray;
      }
    }
  }

  .bubble{
    &-top{
      &:after{
        content: "";
        display: block;
        border: 2px solid $color1;
        z-index: 10;
        background-color: white;
        border-radius: 4px;
        height: 8px;
        width: 8px;
        top: -3px;
        @include centerX();
      }
    }
  }

  .container__section{
    position: relative;
  }
}