<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}UNDEFINED{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        {% include 'nav.html.twig' %}
        {% block body %}{% endblock %}
        {% block footer %}
            <footer class="footer">
                <div class="container">
                    <p class="text-muted">
                    <b class="brand">HEROES</b> is een initiatief ontwikkelt door
                    <a href="//jasperdesmet.be">Jasper De Smet</a>, 
                    <a href="//ianemsens.be">Ian Emsens</a>, 
                    <a href="//nielsroels.be">Niels Roels</a> en 
                    <a href="//alexandretozzi.be">Alexandre Tozzi</a>.
                    Met afbeeldingen van <a href="//dorienthys.com">Dorien Thys</a>.
                    </p>
                </div>
            </footer>
        {% endblock %}
    </body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="{{ asset('lib/bootstrap-sass-official/assets/javascripts/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/nav.js') }}"></script>
    {% block javascripts %}{% endblock %}
</html>
