{% block nav %}

	<nav class="navbar navbar-fixed-top" id="navigation">
		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ path('imd_app_homepage') }}">Heroes</a>
			</div>

			<div id="navbar" class="navbar-collapse collapse">

				<ul class="nav navbar-nav navbar-right">

				{# <li>
					<a href="{{path('imd_debug')}}">DEBUG</a>
				</li> #}

				{# Active Menu Item code (recycled from useless home button) : {% if app.request.attributes.get('_route') == 'imd_app_homepage' %}active{% endif %} #}

					{% if is_granted("ROLE_ADMIN") %}

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="{{ path('imd_app_adminhomepage') }}">Controlepaneel</a>
								</li>
								<li>
									<a href="{{ path('imd_app_admin_userlist') }}">Gebruikers</a>
								</li>
								<li>
									<a href="{{ path('imd_app_adminlistbookings') }}">Boekingen</a>
								</li>
							</ul>
						</li>

					{% endif %}

					{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						<li class="{% if app.request.attributes.get('_route') == 'fos_user_security_login' %}active{% endif %}">
							<a href="{{ path('fos_user_security_login') }}">Login</a>
						</li>
                    
					{% else %}
						<li class="{% if app.request.attributes.get('_route') == 'imd_app_messages_messagelist' %}active{% endif %}">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle nav-hover" data-toggle="dropdown" role="button" aria-expanded="false">Messages<span class="caret"></span></a>
                        	<ul class="dropdown-menu" role="menu">
								<li>
									<a href="{{ path('imd_app_messages_messagelist') }}">
										New messages: {{ render(controller('ImdAppBundle:Nav:notification')) }}
									</a>
								</li>
                            </ul>
						</li>

						<li>
							<a href="{{path('imd_app_booking_list')}}">Bookings</a>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{app.user.firstname}} <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="{{ path('fos_user_profile_show')}}">Profiel</a>
								</li>
								<li>
									<a href="{{ path('fos_user_security_logout') }}">Logout</a>
								</li>
							</ul>
						</li>

					{% endif %}

				</ul>
			</div>

		</div>
	</nav>
{% endblock %}