<p class="rating">
	{% if false != rating %}
		{% for i in 1..5 %}
			{% if i <= rating %}
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				{% else %}
					<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			{% endif %}
		{% endfor %}
		<span class="pad-l-5 txt-col-black">{{rating}}</span>
	{% else %}
	<span class="txt-col-black">Rookie Guide</span>
	{% endif %}
</p>