{% extends 'base.html.twig' %}

{% block title %}WeAreIMD | Heroes{% endblock %}

{% block body %}
	<div class="hidden" id="front-page"></div>
	<div class="jumbotron jumbotron-spacing slant-asc-white">
		<div class="container">
			<h1 class="jumbotron-title text-center text-white">
				Kies je <strong>Hero</strong>
				<small>
					<span class="more">
						Interactive Multimedia Design is misschien jouw ideale richting, maar je bent toch nog niet helemaal zeker? 
					</span>
					Boek nu één van onze IMD Heroes en beleef samen een onvergetelijke IMD-dag!
				</small>
			</h1>
			<div class="center-block action-container">
				{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					<a href="{{path('imd_guest_login')}}" class="button-filled">
						Registreer
					</a>
				{% else %}
					<a href="{{path('imd_app_guide_booking_date')}}" class="button-filled">
						Hero Selectie
					</a>
				{% endif %}
				<div class="center-block margin-alil-t text-center">
					<a href="{{path('imd_registration_imd_role')}}" class="call-secondary text-white">
						of wordt zelf een Hero.
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid info-block">
		<div class="container">
			<h2 class="row-title text-center">
				Wat is <b class="brand">HEROES</b> ?
			</h2>
			<section class="col-xs-12 center-block">
				<p>
					Heb je interesse in programmeren en pixels? Dan nodigen we je graag uit om deel te nemen aan het <b class="brand">HEROES</b> programma. <b class="brand">HEROES</b> is ontworpen om iedereen die geinteresserd is in ontwerpen en ontwikkelen beter bekend te maken met de steeds groeiende mogelijkheden die het web biedt aan de hand van een interactieve tour op onze IMD campus samen met één van onze IMD Heroes.
				</p>
			</section>
		</div>
	</div>
	{% if not imders is empty %}
	<div class="container-fluid bg-wood slant-desc-white slant-asc-white">
		<div class="container">
			{% for user in imders %}
				 <section class="col-xs-12 col-sm-6 card-container">
				 	<div class="card clearfix">
				 		<a href="{{path('imd_user_profile_show_id',{'id': user.id})}}" class="card-image">
				 			<div class="content">
				 				<img src="{{user.picture}}" alt="image" class="img-responsive">
				 			</div>
						</a>
						<div class="card-description">
							<h2>{{user.firstname}}</h2>
							{% set rating = user.rating %}
							{% include "rating.html.twig" %}
							{% if user.imdYear != '' %}
								<h4>{{user.getImdYear('full-text')}}</h4>
							{% else %}
								<h4>Teacher</h4>
							{% endif %}
						</div>
				 	</div>
				</section>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	<div class="container-fluid ">
		<div class="container">
			<h2 class="row-title text-center">
				<b class="brand">HEROES</b>
			</h2>
			<section class="col-xs-12 col-sm-4 container__section">
				<h3 class="section__title text-center line-right bubble-top">Hero</h3>
				<p class="section__body">Creëer een unieke ervaring die geheel naar jouw wensen is afgesteld. Kies een Hero die bij jouw interesses aansluit of iemand die een radicaal andere richting uitgaat. Al onze Heroes helpen je vrijwillig verder met al je vragen en problemen, digitaal of face-to-face. Spreek gewoon af.</p>
			</section>
			<section class="col-xs-12 col-sm-4 container__section">
				<h3 class="section__title text-center line-right bubble-top">Tour</h3>
				<p class="section__body">Kom langs tijdens één van onze evenementen en krijg onmiddelijk een zicht op de geweldige sfeer die IMD zo uniek maakt. Praat op je gemak met onze docenten (die samen met jou een pint drinken) of meng je onder de studenten tijdens onze Meat & Greets.</p>
			</section>
			<section class="col-xs-12 col-sm-4 container__section">
				<h3 class="section__title text-center bubble-top">Feedback</h3>
				<p class="section__body">Laat zeker en vast ook weten wat je van onze Hero vond, we helpen je graag verder als er problemen zijn ontstaan en schrikken er niet van terug om onze Heroes eens op de vingers te tikken als ze wat te laat uit bed stappen.</p>
			</section>
		</div>
	</div>
	<div class="container-fluid bg-col-1 slant-desc-white slant-asc-white">
		<div class="container margin-alot-t margin-alot-b">
			<h2 class="row-title text-center title-lg">
				{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					Interesse?
					<br/><small>Doe mee en ontdek onze IMD Heroes</small>
				{% else %}
					kies je hero
					<br/><small>Spreek af met een student en beleef het leven in IMD zoals het écht is.</small>
				{% endif %}
			</h2>
			<section class="col-xs-12 text-center">
				{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					<a href="{{path('imd_guest_login')}}" class="button-stroke">
						Registreer
					</a>
				{% else %}
					<a href="{{path('imd_app_guide_booking_date')}}" class="button-stroke">
						Hero Selectie
					</a>
				{% endif %}
			</section>
		</div>
	</div>
	<div class="container-fluid	">
		<div class="container">
			{% for b in bookings %}
				<section class="col-xs-12 col-sm-6">
					<blockquote>
						<div class="square-wrapper-img-circle margin-abit-b col-xs-4"
							style="background-image: url('{{b.guide.picture}}')">
						</div>
						<div class="col-xs-8">
							{% set rating = b.rating %}
							{% include "rating.html.twig" %}
							{{b.feedback}}
							<span class="author">{{b.guest.firstname}}</span>
						</div>
						
					</blockquote>
				</section>
			{% endfor %}
		</div>
	</div>
{% endblock %}